<div class="blank-layout-container justify-content-center">
  <div class="position-relative row w-100 h-100">
    <div class="col-lg-7 col-xl-8 bg-gredient p-0">
      <div class="p-24 h-100">
        <app-branding></app-branding>

        <div class="align-items-center justify-content-center img-height d-none d-lg-flex">
          <img src="/assets/images/backgrounds/login-bg.svg" alt="login" style="max-width: 500px" />
        </div>
      </div>
    </div>
    <div class="col-lg-5 col-xl-4 p-0 d-flex justify-content-center">
      <div class="p-32 d-flex align-items-start align-items-lg-center h-100 max-width-form justify-content-center">
        <div>
          <h4 class="f-w-700 f-s-20 m-0">{{ "Verify Credential" | translate }}</h4>
          <span class="f-s-14 d-block f-s-14 m-t-24">
            {{ "We sent a verification code to your credential.Enter the code from the credential in the field below." | translate }}
          </span>
          <span class="f-w-600 d-block m-t-16">******1234</span>

          <form class="m-t-30 p-t-30" [formGroup]="otpForm" (ngSubmit)="submit()">
            <mat-label class="f-s-14 f-w-600 m-b-12 d-block">{{ "Type your 6 digits security code" | translate }}</mat-label>
            <div class="d-flex align-items-center"></div>
            <div class="row custom-row">
              <div class="col-2" *ngFor="let ctrl of otpControls; let i = index; trackBy: trackByIndex">
                <mat-form-field appearance="outline" class="w-100" color="primary">
<!--                  type="text" inputmode="numeric"-->
                  <input matInput [formControl]="ctrl" maxlength="1" autocomplete="one-time-code" (input)="onInput($event, i)" (keydown)="onKeyDown($event, i)" />
                </mat-form-field>
              </div>
            </div>

            <button mat-flat-button color="primary" class="w-100" [disabled]="!otpForm.valid">
              {{ "Verify My Account" | translate }}
            </button>
            <!-- input -->
          </form>
          <span class="d-block f-w-500 d-block f-s-14 m-t-24"
          >
            {{ "Didn't get the code?" | translate }}
            <a (click)="resend()" class="text-decoration-none text-primary f-w-500 cursor-pointer">
              {{ "Resend" | translate}}
            </a>
          </span>
        </div>
      </div>
    </div>
  </div>
</div>
