<div class="blank-layout-container justify-content-center">
  <div class="position-relative row w-100 h-100">
    <div class="col-lg-7 col-xl-8 bg-gredient p-0">
      <div class="p-24 h-100">
        <app-branding></app-branding>

        <div class="align-items-center justify-content-center img-height d-none d-lg-flex">
          <img src="/assets/images/backgrounds/login-bg.svg" alt="login" style="max-width: 500px" />
        </div>
      </div>
    </div>
    <div class="col-lg-5 col-xl-4 p-0">
      <div class="p-32 d-flex align-items-start align-items-lg-center justify-content-center h-100">
        <div class="row justify-content-center w-100">
          <div class="col-lg-9 max-width-form">
            <h4 class="f-w-700 f-s-24 m-0">{{ "Reset Password" | translate }}</h4>
            <span class="f-s-14 d-block  m-t-8">
              {{ "Password must be at least 8 characters" | translate }}.
            </span>

            <form class="m-t-30" [formGroup]="form" (ngSubmit)="submit()">
              <!-- password -->
              <mat-label class=" f-s-14 f-w-600 m-b-12 d-block">{{ "Password" | translate }}</mat-label>
              <mat-form-field appearance="outline" class="w-100" color="primary">
                <input matInput [type]="hide() ? 'password' : 'text'" formControlName="password" autocomplete="new-password" />
                <button
                  mat-icon-button
                  matSuffix
                  (click)="clickEvent($event)"
                  [attr.aria-label]="'Hide password'"
                  [attr.aria-pressed]="hide()"
                  type="button"
                >
                  <mat-icon class="f-s-16 d-flex align-items-center justify-content-center">
                    {{hide() ? 'visibility' : 'visibility_off'}}
                  </mat-icon>
                </button>

                @if(f['password'].touched && f['password'].invalid){
                  <mat-hint class="m-b-16 error-msg">
                    @if(f['password'].errors && f['password'].errors['required']){
                      <div class="text-error">
                        {{ "Password" | translate }} {{ "is required" | translate }}.
                      </div>
                    }
                    @if(f['password'].errors && f['password'].errors['minlength']){
                      <div class="text-error">
                        {{ "Password" | translate }} {{ "should be at least" | translate }} 8 {{ "characters" | translate }}.
                      </div>
                    }
                  </mat-hint>
                }
              </mat-form-field>

              <div class="m-b-12 d-flex align-items-center justify-content-between gap-8">
<!--                TODO: on different strength cases change the bg color of mat-progress-bar (Maybe also add a tooltip on each progress bar)-->
                <mat-progress-bar
                  mode="determinate"
                  [value]="strength > 15 ? 100 : 0"
                ></mat-progress-bar>
                <mat-progress-bar
                  mode="determinate"
                  [value]="strength > 25 ? 100 : 0"
                ></mat-progress-bar>
                <mat-progress-bar
                  mode="determinate"
                  [value]="strength > 50 ? 100 : 0"
                ></mat-progress-bar>
                <mat-progress-bar
                  mode="determinate"
                  [value]="strength > 85 ? 100 : 0"
                ></mat-progress-bar>
              </div>

              <!-- confirmPassword -->
              <mat-label class=" f-s-14 f-w-600 m-b-12 d-block">{{ "Password Confirmation" | translate }}</mat-label>
              <mat-form-field appearance="outline" class="w-100" color="primary">
                <input matInput [type]="hideConfirmation() ? 'password' : 'text'" formControlName="confirmPassword" />
                <button
                  mat-icon-button
                  matSuffix
                  (click)="clickConfirmationEvent($event)"
                  [attr.aria-label]="'Hide password'"
                  [attr.aria-pressed]="hideConfirmation()"
                  type="button"
                >
                  <mat-icon class="f-s-16 d-flex align-items-center justify-content-center">
                    {{hideConfirmation() ? 'visibility' : 'visibility_off'}}
                  </mat-icon>
                </button>
                @if(f['confirmPassword'].touched && f['confirmPassword'].invalid){
                  <mat-hint class="m-b-16 error-msg">
                    @if(f['confirmPassword'].errors && f['confirmPassword'].errors['required']){
                      <div class="text-error">
                        {{ "Password Confirmation" | translate }} {{ "is required" | translate }}.
                      </div>
                    }
                    @if(f['confirmPassword'].errors && f['confirmPassword'].errors['notMatch']){
                      <div class="text-error">
                        {{ "Password Confirmation" | translate }} {{ "does not match" | translate }}.
                      </div>
                    }
                  </mat-hint>
                }
              </mat-form-field>

              <button mat-flat-button color="primary" class="w-100 m-t-12" [disabled]="!form.valid">
                {{ "Reset Password" | translate }}
              </button>
              <!-- input -->
            </form>

            <span class="d-block f-w-500 d-block f-s-14 m-t-24"
            >{{ "Remember your password" | translate }} ?
              <a [routerLink]="['/login']"
                class="text-decoration-none text-primary f-w-500 f-s-14">
                {{ "Sign In" | translate }}</a>
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
